body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* justify-content: end; */
  min-height: 100vh;
  background-color: #e6e6fa;
}
.main {
  width: 900px;
  height: 300px;
  background-color: azure;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}
h1 {
  font-weight: bold;
  color: brown;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
h4 {
  margin-top: 7%;
  font-size: large;
}
#btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: darkorange;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 12px;
}
